<div class="container py-4 ">
  <div class="py-2 user-form mx-auto  border-2 bg-white shadow-md">
    <h1 class="text-2xl sm:text-3xl text-center py-4 font-bold">お問合せフォーム</h1>
    <div class="form-wide mx-auto">
      <%= form_with(model: @contact, local: true) do |f| %>
        <%= render 'shared/contact_error_messages' %>

        <%= f.label :name, "名前", {class: "text-lg font-bold"} %>
        <%= f.text_field :name, class: 'form-control mb-4', placeholder: '30文字以内で入力してください。' %>

        <%= f.label :email, "メールアドレス", {class: "text-lg font-bold"} %>
        <%= f.email_field :email, class: 'form-control mb-4', placeholder: 'メールアドレスを入力してください。' %>

        <%= f.label :message, "お問合せ内容", {class: "text-lg font-bold"} %>
        <%= f.text_field :message, class: 'form-control mb-4', placeholder: '内容をご記入お願いします。' %>

        <div class="text-center my-4">
          <%= f.submit "送信", class: "inline-block text-gray-100 bg-green-500 border border-yellow-500 hover:text-green-500 hover:bg-white font-base px-4 py-2 rounded text-base" %>
        </div>
      <% end %>
    </div>
  </div>
</div>