<header class="bg-green-100">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center py-1">
    <div class="header-left flex-row md:flex">
      <div class="text-center mb-3 md:mb-0">
        <%= link_to "Tennis court search", root_path, class: "h5 my-0 fw-normal fs-1 ps-5 text-info title-font" %>
        <nav class="ml-3 mt-4 float-end text-base md:text-2xl">
          <%= link_to "ホーム", root_path, class: "ml-2 m-2 hover:text-blue-400" %>
          <% if logged_in? %>
            <%= link_to "マイページ", current_user, class: "m-1 hover:text-blue-400" %>
            <%= link_to "コート投稿", new_court_path, class: "m-1 hover:text-blue-400" %>
            <%= link_to "ユーザー一覧", users_path, class: "m-1 hover:text-blue-400" %>
            <%= link_to "ログアウト", logout_path, method: :delete, class: "m-1 hover:text-blue-400" %>
          <% else %>
            <%= link_to "ゲストログイン", guest_login_path, method: :post, class: "m-1 hover:text-blue-400" %>
            <%= link_to "ログイン", login_path, class: "m-1 hover:text-blue-400" %>
            <%= link_to "新規登録", user_create_path, class: "m-1 hover:text-blue-400" %>
          <% end %>
        </nav>
      </div>
    </div>
  </div>
</header>