<!DOCTYPE html>
<html>
  <head>
    <title>テニスコートサーチ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>  
    <%= render 'layouts/header' %>
    <div class="container">
      <h1 class="text-center mt-sm-3">お気に入りのテニスコートを見つけよう！</h1>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
